#login-notaris {
  overflow: hidden;
}
#login-notaris .modal-header h4 {
  text-transform: uppercase;
}
#login-notaris form {
  margin-bottom: 21px;
}
#login-notaris a {
  color: #2b90d9;
}
#login-notaris p {
  font-weight: 300;
  margin-bottom: 21px;
  font-size: 13px;
}
.custom-frontpage-section {
	padding-top: 0 !important;
}
.table thead > tr > th.valigned-middle, .table tbody > tr > td.valigned-middle {
	vertical-align: middle;
}
.thtd-custom-centered {
	text-align:center;
}
.thtd-custom-width, .pdf-link-holder {
	width: 40px;
}
ul.navbar-nav li.dropdown.open {
  overflow: visible;
}